.button {
	font-size: 1rem;
	font-weight: bold;

	border: 1px solid transparent;
	border-radius: 4px;
	padding: 0.7rem 1rem;

	transition: border 300ms, background-color 300ms;
}

.button svg, .button img {
	width: 1em;
	height: 1em;
	stroke-width: 3px;
	vertical-align: middle;
}

.button-primary {
	background-color: var(--primary-main);
	border-color: var(--primary-dark);
	color: var(--blanco);
}

.button-primary:hover,
.button-primary:focus {
	background-color: var(--primary-dark);
}

.button-primary-outline {
	background-color: transparent;
	border-color: var(--primary-main);
	color: var(--primary-main);
}

.button-primary-outline:hover,
.button-primary-outline:focus {
	background-color: var(--primary-main);
	color: var(--blanco);
}

.button-incorrect {
	background-color: var(--incorrect-main);
	border-color: var(--incorrect-dark);
	color: var(--blanco);
}

.button-incorrect:hover,
.button-incorrect:focus {
	background-color: var(--incorrect-dark);
}
