$fondo: hsl(210deg, 40%, 98%);
$gray: hsl(0, 0%, 80%);
$text: hsl(0, 0%, 5%);

$primary-dark: hsl(134deg, 40%, 35%);
$primary-main: hsl(134deg, 40%, 45%);
$primary-light: hsl(134deg, 40%, 55%);

$warning-dark: hsla(60, 70%, 50%);
$warning: hsl(60, 85%, 50%);
$warning-light: hsl(60, 100%, 50%);

$incorrect-dark: hsl(356deg, 86%, 38%);
$incorrect-main: hsl(356deg, 86%, 48%);
$incorrect-light: hsl(356deg, 86%, 58%);