#busqueda-termino {
	padding: 0.5rem 1rem;
	width: 100%;
}

form:has(#busqueda-termino) {
	flex-grow: 1;
}

#busqueda {
	margin: auto;
	max-width: 1024px;
	width: 100%;
	& > h2 {
		margin-bottom: 1rem;
	}
}

#busqueda-list {
	h3 {
		font-size: 1.6rem;
	}

	p {
		font-size: 1.1rem;
		color: #000;
	}

	a:hover {
		text-decoration: none;
		h3 {
			text-decoration: underline;
		}
	}

	& > article {
		background-color: white;
		padding: 0.6rem 1.2rem;
		border-radius: 4px;
		box-shadow: var(--shadow);
		margin-bottom: 2rem;
		width: 100%;
	}
}