#comment-section-container {
	padding: 0 15rem;
}

#comment_container {
	padding: 0 3% 1rem;
}

#post-main > .form_comentario {
	padding: 0 3% 1rem;
	max-width: 24rem;
}

.post_comment_replies {
	margin-left: 1.5rem;
	margin-right: 1.5rem;

	.post_comment {
		border-left: 3px solid darkgray;
		padding-left: 1rem;
		margin-top: 0.7rem;
		margin-bottom: 0.7rem;
	}
}

.form_comentario {
	display: flex;
	flex-direction: column;
	input[type="text"], textarea {
		margin-bottom: 1rem;
	}
	p {
		margin-top: 1rem; 
		margin-bottom: 1rem;
	}
}

#comment-send {
	display: flex;
	justify-content: space-between;
}

#comment-send button {
	margin: auto 1rem;
}

.post_comment {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;

	p {
		display: flex;
		align-items: center;
		img {
			width: auto;
			height: 1.25rem;
			margin-left: 0.25rem;
		}
	}
}

@media screen and (max-width: 960px) {
	#comment-section-container {
		padding: 1rem 5vh;
	}

	#comment-send {
		flex-direction: column;
	}

	#comment-send button {
		margin: 1rem 0;
	}
}