.public-footer {
	padding: 3rem 20%;
	margin: 0;
	width: 100%;
	
	color: #fff;
	background: #222;
	
	text-align: left;
	align-items: center;

	&>div {
		display: flex;
		flex-direction: column;

		&>a {
			color: white;
			font-size: 1.1rem;
		}
	}

	div :not(:last-child) {
		margin-right: 0;
	}

	div:last-child {
		text-align: right;
	}
}

.public-footer .social {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	& img {
		width:44px;
		height:44px;
	}
}

@media (max-width: 640px) {
	.public-footer div:last-child {
		text-align: center;
	}

	.public-footer div :not(:last-child) {
		margin-bottom: 0.5rem;
	}

	.social {
		margin-bottom: 1rem;
	}
}