/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */
.pager {
	margin-top: 2rem;
	background: var(--background);
	display: flex;
	justify-content: center;
}

.pager > a, .pager > b {
	background: white;
	padding: 0.6rem 1rem 0.5rem;
	border-radius: 8px;
	font-size: 1.25rem;
	margin: 0 0.5rem;
	box-shadow: var(--shadow);
}

@media (max-width: 1366px) {
	.pager {
		justify-content: start;
		overflow-x: auto;
	}
}