<!DOCTYPE html>
<html lang="es-ES">
	<head>
		{{- template "_head.html" . }}
	</head>
	<body>
		{{ template "_header.html" }}
		<main>
			<div id="post-main">
				<h2 id="post-title">Contacto</h2>
				<article id="post-inner">
					<p>Para contactar con el equipo de Vigo360, basta con escribir a
						<a href="mailto:contacto@vigo360.es">contacto@vigo360.es</a>. Esta dirección reenvía tu
						correo a los integrantes de Vigo360.
					</p>
					<p>Si quieres contactar con el administrador del sitio, puedes escribir a
						<a href="mailto:ariel@vigo360.es">ariel@vigo360.es</a> de forma privada.
					</p>

				</article>
			</div>
		</main>
		{{ template "_footer.html" }}
	</body>
</html>