<!DOCTYPE html>
<html lang="es">

<head>
	<title>Página no encontrada - Admin Vigo360</title>
	{{ template "_head.html" . }}
</head>

<body>
	{{ template "_header.html" . }}
	<main id="dashboard">
		<h2>Error del servidor</h2>
		<p>
			De algún modo, ha habido un error de servidor al intentar procesar la petición. Por favor, reporta este
			error junto a la fecha, hora y lo que se estaba intentando realizar. Pra volver al panel principal <a
				href="/admin/dashboard">pulsa aquí</a>.
		</p>
	</main>
	{{ template "_footer.html" . }}
</body>

</html>