<!DOCTYPE html>
<html lang="es">

<head>
	<title>Publicaciones - Admin Vigo360</title>
	{{ template "_head.html" . }}
</head>

<body>
	{{ template "_header.html" . }}
	<main id="post-editor">
		<h2>Editor de artículos</h2>
		<form method="post" enctype="multipart/form-data">
			<div class="form-column">
				<div class="form-row">
					<label for="art-titulo">Título del artículo</label>
					<input type="text" name="art-titulo" id="art-titulo" placeholder="Asunto interesante" maxlength="80"
						required value="{{ .Post.Titulo }}">
					<label for="art-resumen">Resumen del artículo</label>
					<input type="text" name="art-resumen" id="art-resumen"
						placeholder="Tratamos un asunto realmente interesante sobre una cosa en particular"
						maxlength="300" value="{{ .Post.Resumen }}" required>
					<label for="art-contenido">Contenido del artículo</label>
					<textarea rows="15" name="art-contenido" id="art-contenido" placeholder="Contenido del artículo"
						required>{{ .Post.Contenido }}</textarea>
					<p>Actualmente no hay una forma de subir imágenes adicionales para incluir en el artículo. Envía al
						administrador un ZIP con las imágenes a incluir NUMERADAS, y el artículo al que se asocian.</p>
				</div>
				<div class="form-row">
					<p>Solo cubrir si la publicación pertenece a una serie. Si no, dejar vacío.</p>
					<label for="series-select">Selecciona serie</label>
					<select name="serie-id" id="series-select">
						<option value="">-- Ninguna serie --</option>
						{{ $serieId := .Post.Serie_id.Value }}
						{{ range .Series }}
						<option value="{{ .Id }}" {{ if eq .Id $serieId}}selected{{end}}>{{ .Titulo }}</option>
						{{ end }}
					</select>
					<label for="serie-num">Posición en serie</label>
					<input type="number" name="serie-num" id="serie-num" value="{{ .Post.Serie_posicion.Value }}"
						min="0" max="20">
					<hr>
					<p>
						Selecciona una imagen de portada. La imagen debe tener una relación de aspecto 16:9, o se verá
						distorsionada; además de ser menor a 20 MB. Si no se selecciona ninguna, se conservará la
						actual.
					</p>
					<img src="/static/images/{{ .Post.Id }}.webp" height="224px" width="400px"
						alt="Foto de portada actual" />
					<input type="file" id="portada" name="portada" accept="image/png, image/jpeg">
					<label for="alt-portada">Texto alternativo de portada</label>
					<input type="text" id="alt_portada" name="alt-portada" maxlength="300" required
						value="{{ .Post.Alt_portada }}">
					<hr>
					{{ if ne .Post.Publicado true }}
					<div>
						<input type="checkbox" name="publicar" id="publicar">
						<label for="publicar">Publicar (irreversible)</label>
					</div>
					{{ end }}
				</div>
			</div>

			<button type="submit" class="btn-theme">Guardar artículo</button>
		</form>
	</main>
	{{ template "_footer.html" . }}
	<script>
		let seriesSelect = document.getElementById("series-select")
		let seriesNum = document.getElementById("serie-num")

		seriesNum.disabled = seriesSelect.value == ""

		seriesSelect.addEventListener("change", () => {
			seriesNum.disabled = seriesSelect.value == ""
		})
	</script>
</body>

</html>