[Unit]
Description=Vigo360
After=network.target

[Service]
WorkingDirectory=/opt/vigo360
User=vigo360
Type=simple
Restart=on-failure
RestartSec=15
EnvironmentFile=/opt/vigo360/.env
ExecStart=/opt/vigo360/vigo360

ProtectDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=default.target
