[Unit]
Description=Vigo360
After=network.target

[Service]
WorkingDirectory=/home/vigo360/live
User=vigo360
Type=simple
Restart=on-failure
RestartSec=15
EnvironmentFile=/home/vigo360/live/.env
ExecStart=/home/vigo360/live/vigo360

ProtectDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=default.target
