<header>
	<a href="/admin/dashboard" id="header-brand">
		<img alt="Logo de Vigo360" width="48" height="48" src="/static/logo.webp" />
		<h1>Vigo360 (admin)</h1>
	</a>
	<nav class="desktop">
		<a class="nav-link" href="/admin/post">Publicaciones</a>
		<a class="nav-link" href="/admin/perfil">Perfil</a>
		<a class="nav-link" href="/admin/series">Series</a>
		<a class="nav-link" href="/admin/comentarios">Mod. Comentarios</a>
		<a class="nav-link" href="/admin/logout">Cerrar sesión</a>
		<a class="nav-link" href="/">Vigo360</a>
	</nav>
	<details class="mobile" id="nav">
		<summary>Navegación</summary>
		<a class="nav-link" href="/admin/post">Publicaciones</a>
		<a class="nav-link" href="/admin/perfil">Perfil</a>
		<a class="nav-link" href="/admin/series">Series</a>
		<a class="nav-link" href="/admin/comentarios">Mod. Comentarios</a>
		<a class="nav-link" href="/admin/logout">Cerrar sesión</a>
		<a class="nav-link" href="/">Vigo360</a>
	</details>
</header>