<div id="pre-footer"></div>
<footer class="public-footer">
	<div id="footer__social">
		<a href="https://vigo360.es/atom.xml" title="Añádenos a tu agregador de noticias preferido">
			<img width="48" height="48" src="/static/atom-icon-dark.svg" alt="Logo de RSS">
		</a>
		<a href="https://twitter.com/vigo360" title="Cuenta de Twitter (X)">
			<img width="48" height="48" src="/static/x-icon.svg" alt="Logo de X">
		</a>
	</div>
	<div id="footer__links">
		<a href="/contacto">Contacto</a>
		<a href="/legal">Privacidad y licencias</a>
	</div>
</footer>
