<footer class="public-footer">
	<div class="social">
		<a href="https://vigo360.es/atom.xml" title="Añádenos a tu agregador de noticias preferido">
			<img src="/static/atom-icon-dark.svg" alt="Logo de RSS" />
		</a>
		<a href="https://news.google.com/publications/CAAqBwgKMNnrwAsw64bYAw" title="Síguenos desde Google News">
			<img src="/static/news-icon.svg" alt="Logo de Google News" />
		</a>
		<a href="https://discord.gg/z8GJYX7hjM" title="Comunidad oficial en Discord">
			<img src="/static/disk-icon.svg" alt="Logo de Discord" />
		</a>
		<a href="https://www.facebook.com/Vigo360-114211757834000" title="Nuestra página de Facebook">
			<img src="/static/zb-icon.svg" alt="Logo de Facebook" />
		</a>
		<a href="https://twitter.com/vigo360" title="Cuenta de Twitter">
			<img src="/static/tt-icon.svg" alt="Logo de Twitter" />
		</a>
		<a href="https://instagram.com/vig0360" title="Cuenta de instagram">
			<img src="/static/is-icon.svg" alt="Logo de Instagram" />
		</a>
	</div>
	<div>
		<a href="/contacto">Contacto</a>
		<a href="/legal">Privacidad y licencias</a>
	</div>
</footer>
<script src="/static/consent.js"></script>
<script src="/Tracker/Script"></script>
