<header>
	<a href="/" id="header-brand">
		<img width="48" height="48" alt="Logo de Vigo360" src="/static/logo.webp">
		<h1>Vigo360</h1>
	</a>
	<form action="/buscar">
		<input type="search" name="termino" id="busqueda-termino" placeholder="Buscar en Vigo360">
	</form>
	<nav class="desktop">
		<a class="nav-link" href="/trabajos">Trabajos</a>
		<a class="nav-link" href="/autores">Quiénes somos</a>
		<a class="nav-link" href="/tags">Secciones</a>
	</nav>
	<details class="mobile" id="nav">
		<summary>Navegación</summary>
		<a class="nav-link" href="/trabajos">Trabajos</a>
		<a class="nav-link" href="/autores">Quiénes somos</a>
		<a class="nav-link" href="/tags">Secciones</a>
	</details>
</header>