<header>
    <a href="/" id="header-brand">
        <img width="48" height="48" alt="Logo de Vigo360" src="/static/logo.webp">
        <span>Vigo360</span>
    </a>
    <form action="/buscar" method="get" class="form-inline">
        <input type="search" name="termino" placeholder="Buscar en Vigo360">
        <button type="submit" class="button button-primary" title="Buscar en Vigo360">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="white" fill="none"
                 stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                <path d="M21 21l-6 -6"></path>
            </svg>
        </button>
    </form>
    <nav title="Navegación principal">
        <a class="link" href="/trabajos">Trabajos</a>
        <a class="link" href="/autores">Quiénes somos</a>
        <a class="link" href="/tags">Secciones</a>
    </nav>
</header>