<!DOCTYPE html>
<html lang="es">

<head>
	<title>Publicaciones - Admin Vigo360</title>
	{{ template "_admin-head.html" . }}
</head>

<body>
	{{ template "_admin-header.html" . }}
	{{ $session := .Session }}
	<main id="post-list">
		<h2>Gestión de artículos</h2>
		<section>
			<form action="/admin/post" method="post">
				<h3>Crear un nuevo artículo</h3>
				<label for="art-id">
					ID de artículo
				</label>
				<input type="text" name="art-id" id="art-id" maxlength="40" placeholder="articulo-tema" required>
				<label for="art-titulo">
					Título del artículo
				</label>
				<input type="text" name="art-titulo" id="art-titulo" placeholder="Un artículo sobre un tema"
					maxlength="80" required>
				<button type="submit" class="button button-primary">Crear artículo</button>
			</form>
			<section id="post-listing">
				{{ if ne (len .Posts) 0 }}
				{{ range .Posts }}
				<article class="list-post">
					<a href="/admin/post/{{ .Id }}"
						class="posts-title {{ if eq .Publicado false }}unpublished{{ end }}">{{ .Titulo }}</a>
					<p>
						<span>
							<img width="20" height="20" src="/static/user-icon.svg">
							{{ .Autor_nombre }}
						</span>
						{{ if ne .Fecha_publicacion "01/01/0001" }}
						<span>
							<img width="20" height="20" src="/static/clock-icon.svg">
							{{ .Fecha_publicacion }}
						</span>
						{{ end }}
						{{- $postid := .Id }}
						<span>
							<img width="20" height="20" src="/static/tags-icon.svg">
							{{ .CantTags }}
						</span>

						{{- with $session }}
						{{- if eq (index .Permisos "publicaciones_delete" ) true }}
						<a href="/admin/post/{{ $postid }}/delete">Eliminar</a>
						{{- end }}
						{{- end }}
					</p>
				</article>
				{{ end }}
				{{ else }}
				<span class="user-section-title">No se encontró ningún artículo</span>
				{{ end }}
			</section>
		</section>
	</main>
	{{ template "_admin-footer.html" . }}
	<script src="/static/post-validarid.js"></script>
</body>

</html>
