<!DOCTYPE html>
<html lang="es">

<head>
	<title>Inicio de Sesión - Admin Vigo360</title>
	{{ template "_admin-head.html" . }}
</head>

<body>
	<div id="login-background"></div>
	<main>
		<div id="login">
			<h2>Panel administrativo de Vigo360</h2>
			<p>
				Para acceder al panel administrativo, debes iniciar sesión con tu ID de usuario y contraseña.
			</p>
			{{ if .LoginError }}
			<div class="dialog-error">Nombre de usuario o contraseña inválidos.</div>
			{{ end }}
			<form method="POST">
				<label for="userid">ID de Usuario</label>
				<input type="text" id="userid" name="userid" {{with .PrefillName}}value="{{.}}" {{end}} />
				
				<label for="password">Contraseña</label>
				<input type="password" id="password" name="password" />

				<button class="button button-primary" type="submit">Iniciar sesión</button>
				<small>Por tu seguridad, recuerda cerrar sesión antes de abandonar la página.</small>
			</form>
		</div>
	</main>
</body>

</html>