<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestión de comentarios - Admin Vigo360</title>
    {{ template "_admin-head.html" . }}
</head>

<body>
{{ template "_admin-header.html" . }}
<main id="post-list">
    <h2>Comentarios pendientes de moderación</h2>
    {{ range .Comentarios }}
        <article id="comentarios-list">
            <h3>{{ .Publicacion_titulo }}</h3>
            <code>
                {{ .Contenido }}
            </code>
            <p>
                Enviado por {{ .Nombre }} el {{ .Fecha_creacion }}
            </p>
            <br>
            <a href="/admin/comentarios/aprobar?cid={{.Id}}" class="button button-primary">aprobar</a>
            <a href="/admin/comentarios/rechazar?cid={{.Id}}" class="button button-incorrect">rechazar</a>
        </article>
    {{end}}
</main>
{{ template "_admin-footer.html" . }}
</body>

</html>