<!DOCTYPE html>
<html lang="es-ES">

<head>
	<title>Previsualización - Vigo360</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/static/logo.png">
	<link rel="stylesheet" href="/static/main.css">
	
	<meta name="theme-color" content="#236535">
</head>

<body>
	{{ template "_admin-header.html" }}
	<div class="preview-marca-agua">
		<p>Esta página es una previsualización. Hay posibles datos sin guardar.</p>
		<p>Fecha de generación: {{ .Ahora }}</p>
	</div>
	<main id="post-main">
		<article>
			<figure id="post-thumbnail">
				<picture id="portada_actual" class="user-article-thumbnail">
					<source srcset="/static/images/{{ .Post.Id}}.webp" type="image/webp"
							title="{{ .Post.Alt_portada }}" width="220"
							height="137">
					<img src="/static/thumb/{{ .Post.Id }}.jpg" width="220" height="137" loading="lazy"
						 alt="{{ .Post.Alt_portada }}"/>
				</picture>
				<figcaption>{{ .Post.Alt_portada }}</figcaption>
			</figure>

			<h2 id="post-title">{{ .Post.Titulo }}</h2>

			<p id="post-info">
				<a class="link" href="/autores/{{ .Post.Autor.Id }}">{{ .Post.Autor.Nombre }}</a> -
				{{ dateDayMonth .Post.Fecha_publicacion }} {{ if ne (dateDayMonth .Post.Fecha_actualizacion)
				(dateDayMonth .Post.Fecha_publicacion) }}(actualizado {{ dateDayMonth .Post.Fecha_actualizacion
				}}){{end}}
			</p>

			<div id="post-inner">
				{{ .Post.Contenido | markdown }}
			</div>
		</article>
	</main>
	{{ template "_footer.html" }}
</body>

</html>