<!DOCTYPE html>
<html lang="es">

<head>
	<title>{{ .Post.Titulo }} - Admin Vigo360</title>
	{{ template "_admin-head.html" . }}
</head>

<body>
	{{ template "_admin-header.html" . }}
	<main id="post-editor">
		<h2>Editor de artículos</h2>
		<form method="post" enctype="multipart/form-data">
			<div class="form-column">
				<div class="form-row">
					<label for="art-titulo">Título del artículo</label>
					<input type="text" name="art-titulo" id="art-titulo" placeholder="Asunto interesante" maxlength="80"
						required value="{{ .Post.Titulo }}">
					<label for="art-resumen">Resumen del artículo</label>
					<input type="text" name="art-resumen" id="art-resumen"
						placeholder="Tratamos un asunto realmente interesante sobre una cosa en particular"
						maxlength="300" value="{{ .Post.Resumen }}" required>
					<label for="art-contenido">Contenido del artículo</label>
					<textarea rows="15" name="art-contenido" id="art-contenido" placeholder="Contenido del artículo"
						required>{{ .Post.Contenido }}</textarea>
				</div>
				<div class="form-row">
					<h3>Series (opcional)</h3>
					<label for="series-select">Selecciona serie</label>
					<select name="serie-id" id="series-select">
						<option value="">-- Ninguna serie --</option>
						{{ $serieId := .Post.Serie_id.Value }}
						{{ range .Series }}
						<option value="{{ .Id }}" {{ if eq .Id $serieId}}selected{{end}}>{{ .Titulo }}</option>
						{{ end }}
					</select>
					<label for="serie-num">Posición en serie</label>
					<input type="number" name="serie-num" id="serie-num" value="{{ .Post.Serie_posicion.Value }}"
						min="0" max="20">
					<hr>
					<h3>Etiquetas</h3>
					<select name="tags" id="tags" multiple required size="{{ sum (len .Tags) 1 }}">
						<option value="" disabled>-- Tags --</option>
						{{ range .Tags}}
						<option {{ with .Seleccionada}}selected{{end}} value="{{ .Id }}">
							{{ .Nombre }}
						</option>
						{{ end }}
					</select>
					<hr>
					<h3>Foto de portada</h3>
					<img src="/static/images/{{ .Post.Id }}.webp" height="224px" width="400px"
						alt="Foto de portada actual" />
					<input type="file" id="portada" name="portada" accept="image/png, image/jpeg, image/webp">
					<p>
						Debe tener una relación de aspecto 16:9, ser menor de 20 MB y
						estar en formato PNG, JPG o WebP. Si no se selecciona ninguna, se conservará la
						actual.
					</p>
					<label for="alt-portada">Texto alternativo de portada</label>
					<input type="text" id="alt_portada" name="alt-portada" maxlength="300" required
						value="{{ .Post.Alt_portada }}">
					{{ if ne .Post.Publicado true }}
					<hr>
					<div>
						<input type="checkbox" name="publicar" id="publicar">
						<label for="publicar">Publicar (irreversible)</label>
					</div>
					{{ end }}
				</div>
			</div>

			<input type="hidden" name="post-id" value="{{ .Post.Id }}">

			<div class="submit-buttons">
				<button class="btn-empty-theme" type="submit" formtarget="_blank" formaction="/admin/preview">Previsualizar</button>
				<button name="salir" value="false" type="submit" class="btn-outline-theme">Guardar y seguir editando</button>
				<button name="salir" value="true" type="submit" class="btn-theme">Guardar y salir</button>
			</div>

		</form>
		<hr />
		<div id="image-manager">
			<h2>Gestionar imágenes extra</h2>
			<p>
				Aquí se pueden gestionar las imágenes adicionales para este artículo. Para copiar el código markdown
				para una imágen, clica encima de esta. Solo se admiten imágenes JPG, PNG y Webp, y serán convertidas a
				JPG en el servidor.
			</p>
			<noscript>Para gestionar imágenes es necesario tener JavaScript habilitado.</noscript>
			<span id="image-status"></span>
			<div id="image-list">
				<div id="editor-image-grid"></div>
				<form id="extra-image-upload">
					<h3>Subir imágen</h3>
					<input type="file" name="archivo" id="archivo" accept="image/png, image/jpeg, image/webp">
					<button class="btn-theme">Subir</button>
				</form>
			</div>
		</div>
	</main>
	{{ template "_admin-footer.html" . }}
	<script src="/static/editor-series.js"></script>
	<script src="/static/editor-imagenes.js"></script>
</body>

</html>