<!DOCTYPE html>
<html lang="es-ES">

<head>
	{{- template "_head.html" . }}
	<link rel="alternate" href="/autores/{{.Autor.Id}}/atom.xml" type="application/atom+xml" />

	<script type="application/ld+json">
		[{
			"@context": "https://schema.org",
			"@type": "Person",
			"email": "mailto:{{ .Autor.Email }}",
			"name": "{{ .Autor.Nombre }}",
			"jobTitle": "{{ .Autor.Rol }}",
			"image": "/static/profile/{{ .Autor.Id }}.jpg"
		},
		{
			"@context": "https://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
				{
					"@type": "ListItem",
					"position": 1,
					"item": {
						"@id": "/autores",
						"name": "Autores"
					}
				},
				{
					"@type": "ListItem",
					"position": 2,
					"item": {
						"@id": "/autores/{{ .Autor.Id }}",
						"name": "{{ .Autor.Nombre }}"
					}
				}
			]
		}]
	</script>
</head>

<body>
	{{ template "_header.html" }}
	<main id="authors">
		<div>
			<div id="user-info">
				<div>
					<h2 id="section-title">{{ .Autor.Nombre }}</h2>
					<span id="user-role">{{ .Autor.Rol }}
						{{ if .Autor.Web.Url}} &mdash;
						<a href="{{.Autor.Web.Url}}">
							{{ if ne .Autor.Web.Titulo "" }}
							{{ .Autor.Web.Titulo }}
							{{ else }}
							{{ .Autor.Web.Url }}
							{{end}}
						</a>
						{{end}}
						{{ with .Autor.Email }} &mdash;
						<a href="mailto:{{.}}">{{ . }}</a>
						{{ end}}
					</span>
					<p>
						{{ .Autor.Biografia }}
					</p>
				</div>
				<img width="200" height="200" class="profile_pic" src="/static/profile/{{ .Autor.Id }}.jpg"
					alt="Foto de {{ .Autor.Nombre}}" />
			</div>

			{{ if ne (len .Trabajos) 0 }}
			<h2 class="user-section-title">Trabajos publicados</h2>
			<section class="user-list">
				{{ range $i, $trabajo := .Trabajos }}
				<div class="user-article">
					<a href="/trabajos/{{ $trabajo.Id }}">
						<div>
							<img class="user-article-thumbnail" src="/static/images/{{ $trabajo.Id }}.webp"
								alt="{{ $trabajo.Alt_portada }}" title="{{ $trabajo.Alt_portada }}" {{ if gt $i 3 }}
								loading="lazy" {{ end }} width="220" height="137" />
							<div>
								<h3 class="user-article-title">{{ $trabajo.Titulo }}</h3>
								<p class="user-article-summary">{{ $trabajo.Resumen }}</p>
							</div>
						</div>
					</a>
				</div>
				{{ end }}
			</section>
			{{ end }}

			{{ if ne (len .Posts) 0 }}
			<h2 class="user-section-title">Artículos publicados</h2>
			<section class="user-list">
				{{ range $i, $post := .Posts }}
				<div class="user-article">
					<a href="/post/{{ $post.Id }}">
						<div>
							<picture id="portada_actual" class="user-article-thumbnail">
								<source srcset="/static/images/{{ $post.Id}}.webp" type="image/webp"
									alt="{{ $post.Alt_portada }}" title="{{ $post.Alt_portada }}" {{ if gt $i 3 }}
									loading="lazy" {{ end }} width="220" height="137">
								<img src="/static/thumb/{{ $post.Id }}.jpg" width="220" height="137"
									alt="{{ $post.Alt_portada }}" />
							</picture>
							<div>
								<h3 class="user-article-title">{{ $post.Titulo }}</h3>
								<p class="user-article-summary">{{ $post.Resumen }}</p>
							</div>
						</div>
					</a>
				</div>
				{{ end }}
			</section>
			{{ else }}
			<h2 class="user-section-title">No hay ningún artículo publicado</h2>
			{{ end }}
		</div>
	</main>
	{{ template "_footer.html" }}
</body>

</html>