<!DOCTYPE html>
<html lang="es-ES">

<head>
	{{- template "_head.html" . }}
</head>

<body>
	{{ template "_header.html" }}
	<main id="post-main">
		<div>
			<h2 id="post-title">Contacto</h2>
			<article id="post-inner">
				<p>Para contactar con el equipo de Vigo360, escribe un correo electrónico a
					<a href="mailto:contacto@vigo360.es">contacto@vigo360.es</a>, o un mensaje privado por cualquiera de nuestras redes sociales.
				</p>
				<p>
					<strong>Nota</strong>: No aceptamos recibir información confidencial obtenida de forma ilícita o que no esté disponible al público. Si desea
					compartir algo con nosotros, debe incluir un enlace a una fuente pública en internet o a través de que medio se obtuvo. Si no se cumplen
					estas condiciones, el mensaje será eliminado. Puede enviar esto anónimamente mediante un servicio como <a href="https://anonymousemail.me">anonymousemail.me</a>
					si prefiere conservar su anonimato, pero reiteramos <strong>la información debe ser pública y con un origen fiable</strong>.
				</p>
				<p>Si quieres contactar con el administrador del sitio (por cuestiones estrictamente técnicas), puedes escribir a
					<a href="mailto:ariel@costas.dev">ariel@costas.dev</a> de forma privada.
				</p>
			</article>
		</div>
	</main>
	{{ template "_footer.html" }}
</body>

</html>