<!DOCTYPE html>
<html lang="es-ES">

<head>
	{{- template "_head.html" . }}
</head>

<body>
	{{ template "_header.html" }}
	<main>
		<div id="post-main">
			<h2 id="post-title">Contacto</h2>
			<article id="post-inner">
				<p>Para contactar con el equipo de Vigo360, escribe un correo electrónico a
					<a href="mailto:vigo360@costas.dev">vigo360@costas.dev</a>, o un mensaje privado por cualquiera de nuestras redes sociales.
				</p>
				<p>Si quieres contactar con el administrador del sitio (por cuestiones estrictamente técnicas), puedes escribir a
					<a href="mailto:ariel@costas.dev">ariel@costas.dev</a> de forma privada.
				</p>
			</article>
		</div>
	</main>
	{{ template "_footer.html" }}
</body>

</html>