<!DOCTYPE html>
<html lang="es-ES">

<head>
	{{- template "_head.html" . }}

	<link rel="alternate" type="application/atom+xml" href="/atom.xml" />

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebPage",
			"publisher": {
				"@type": "Organization",
				"name": "Vigo360",
				"url": "https://vigo360.es",
				"email": "contacto@vigo360.es",
				"logo": {
					"@type": "ImageObject",
					"url": "https://vigo360.es/static/logo.webp",
					"width": 400,
					"height": 400
				}
			},
			"headline": "Vigo360",
			"description": "Un proyecto dedicado a estudiar varios aspectos de la ciudad de Vigo (España) y su área de influencia, centrándose en la toponimia y el transporte.",
			"inLanguage": "es-ES",
			"url": "https://vigo360.es/"
		}
		
	</script>
</head>

<body>
	{{ template "_header.html" }}
	<main>
		<div id="frontpage-articles">
			{{ $postLen := len .Posts }}
			{{- range $i, $post := .Posts }}
			<a href="/post/{{ $post.Id }}" {{ if and (eq $postLen 10) (eq $i 0) }}class="primero" {{ end }}>
				<img width="800" height="450" src="/static/images/{{ $post.Id }}.webp" alt="{{ $post.Alt_portada}}"
					title="{{ $post.Alt_portada }}" {{ if gt $i 3 }} loading="lazy" {{ end }} />
				<div class="article-info">
					<p class="article-author">
						{{ $post.Autor.Nombre }} - {{ dateDayMonth $post.Fecha_publicacion }}
					</p>
					<h3 class="article-title">{{ $post.Titulo }}</h3>
					<p class="article-summary">
						{{ $post.Resumen }}
					</p>
				</div>
			</a>
			{{- end }}
		</div>
		<div class="pager">
			{{ $currPage := .CurrentPage}}
			{{ range (iterateInt .PageCount)}}
			{{ if eq $currPage .}}
			<b>{{ . }} </b>
			{{ else }}
			<a href="?page={{ . }}">{{ . }}</a>
			{{ end }}
			{{ end }}
		</div>
	</main>
	{{ template "_footer.html" }}
</body>

</html>
