<!DOCTYPE html>
<html lang="es-ES">

<head>
	{{- template "_head.html" . }}
</head>

<body>
	{{ template "_header.html" }}
	<main id="post-main">
		<article>
			<h1>Políticas de Vigo360</h2>
			<div id="post-inner">
				<h2 id="content">Uso de contenido</h2>
				<p>
					En Vigo360 creemos en la libre difusión de la información, y la preservación
					de la cultura, la historia, y el conocimiento. Por ello, todos los artículos
					publicados en Vigo360 están bajo la licencia <a
						href="https://creativecommons.org/licenses/by/4.0/">CreativeCommons
						Atribucion 4.0</a>, salvo que se indique expresamente lo contrario.
				</p>

				<p>
					Con arreglo a esta licencia, te animamos a que compartas nuestros artículos,
					los copies, los modifiques, los distribuyas, y los uses con fines comerciales
					o no comerciales. No necesitas pedir permiso expreso para hacerlo, pero sí
					debes atribuir la autoría del artículo a Vigo360. También agradeceríamos
					que enlaces al artículo original si lo compartes en la web.
				</p>

				<p>
					Los artículos e imágenes son propiedad del autor del artículo en el que
					aparecen, salvo que se indique lo contrario. Estos están publicados bajo la
					licencia <a href="https://creativecommons.org/licenses/by-sa/4.0/">CreativeCommons
						Atribucion 4.0</a> salvo que se indique lo contrario.
				</p>

				<p>
					Las imágenes y otro contenido de terceros es propiedad de sus respectivos
					autores, citados al pie de la fotografía. Los utilizamos con arreglo a la
					legislación vigente, o con permiso expreso de los autores. Por tanto, no
					nos hacemos responsables de su uso indebido por parte de terceros.
				</p>

				<h2 id="privacy">Política de privacidad</h2>
				<p>
					Al visitar Vigo360, cierta información que es enviada a nuestros servidores es
					almacenada por razones de seguridad y para mejorar la calidad de la página. Esta
					información es de carácter anónimo, y no se utiliza para identificar a los
					usuarios.
				</p>
				
				<p>
					Por otra parte, cuando envías un comentario a uno de nuestros artículos,
					almacenamos el nombre que nos proporcionas y el contenido del comentario,
					así como la fecha y hora en que se envió. Esta información es almacenada
					indefinidamente, y no se comparte con terceros. Puedes usar un nombre
					de fantasía, o un pseudónimo, si prefieres no compartir tu nombre real.
				</p>

				<h2 id="rectification">Derecho de rectificación</h2>

				<p>
					Si bien no somos un medio de comunicación, en Vigo360 nos esforzamos por
					mantener la información que publicamos lo más precisa y actualizada posible.
					Si encuentras un error en uno de nuestros artículos, por favor, contacta con
					nosotros en <a href="mailto:contacto@vigo360.es">contacto@vigo360.es</a>, y
					lo corregiremos lo antes posible.
				</p>

				<p>
					Al no ser un medio de comunicación, entenderíamos que no estamos obligados a
					cumplir con la <a href="https://www.boe.es/buscar/act.php?id=BOE-A-1984-7248&tn=1&p=19840327">Ley Orgánica 2/1984</a>,
					que regula el derecho de rectificación en los medios de comunicación. No obstante,
					si publicamos información sobre tí, y deseas publicar una rectificación, por favor
					contacta con nosotros. Ahora bien, si la información que nos haces publicar es falsa,
					publicaremos la rectificación pero nos reservamos el derecho a desmentirla.
				</p>

				<hr />

				<p>Para cualquier duda, por favor contacta con nosotros en
					<a href="mailto:contacto@vigo360.es">contacto@vigo360.es</a>.
				</p>
			</div>
		</article>
	</main>
	{{ template "_footer.html" }}
</body>

</html>