<!DOCTYPE html>
<html lang="es-ES">

<head>
	{{- template "_head.html" . }}
</head>

<body>
	{{ template "_header.html" }}
	<main id="post-main">
		<article>
			<h2 id="post-title">Licencias</h2>
			<div id="post-inner">
				<h2 id="política-de-privacidad">Política de privacidad</h2>
				<p>Al visitar Vigo360, cierta información que es enviada a nuestros servidores es
					almacenada por razones de seguridad. la información que recopilamos es:
					dirección IP, fecha y hora (del servidor) de la petición y
					<a href="https://www.sistrix.es/preguntale-a-sistrix/que-es-user-agent/">User-Agent</a>.
				</p>
				<p>Adicionalmente, utilizamos la cabecera HTTP <code>Referer</code> para almacenar de forma anónima las
					visitas entre páginas, con el fin de generar recomendaciones más adecuadas en cada artículo. A modo
					de ejemplo, si visita la página principal y pincha en un artículo, exclusivamente sabremos que ha
					entrado en este desde la página principal.</p>
				<h2 id="licencias">Licencias</h2>
				<p>
					Los artículos e imágenes son propiedad del autor del artículo en el que
					aparecen, salvo que se indique lo contrario. Estos están publicados bajo la
					licencia <a href="https://creativecommons.org/licenses/by-sa/4.0/">CreativeCommons
						Atribucion-CompartirIgual 4.0</a> salvo que se indique lo contrario.
				</p>
				<p>
					Las imágenes y otro contenido de terceros es propiedad de sus respectivos
					autores, citados al pie de la fotografía. La licencia anteriormente indicada no
					aplica a este contenido, y en ningún caso se responsabiliza Vigo360 de las
					posibles infracciones de derechos de autor sobre este contenido.
				</p>
				<p>Para cualquier duda, por favor contacta con nosotros en
					<a href="mailto:contacto@vigo360.es">contacto@vigo360.es</a>.
				</p>
			</div>
		</article>
	</main>
	{{ template "_footer.html" }}
</body>

</html>