<!DOCTYPE html>
<html lang="es-ES">

<head>
	{{- template "_head.html" . }}

	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
				{
					"@type": "ListItem",
					"position": 1,
					"item": {
						"@id": "/tags",
						"name": "Secciones"
					}
				},
				{
					"@type": "ListItem",
					"position": 2,
					"item": {
						"@id": "/tags/{{ .Tag.Id }}",
						"name": "{{ .Tag.Nombre }}"
					}
				}
			]
		}
		</script>
</head>

<body>
	{{ template "_header.html" }}
	<main id="sections">
		<h2 id="section-title">{{ .Tag.Nombre }}</h2>
		<ul id="section-articles">
			{{ if eq (len .Posts) 0 }}
			<span>No hay ninguna publicación</span>
			{{ else }}
			{{ range $i, $post := .Posts }}
			<li>
				<a href="/post/{{ $post.Id }}">
					<img width="370" height="270" src="/static/images/{{ $post.Id }}.webp" alt="{{ $post.Alt_portada }}"
						title="{{ $post.Titulo }}" {{ if gt $i 3 }} loading="lazy" {{ end }} />
					<div>
						<span class="article-author">
							{{ .Autor.Nombre }} /
							{{ dateDayMonth .Fecha_publicacion }}
						</span>
						<h3 class="article-title">{{ .Titulo }}</h3>
					</div>
				</a>
			</li>
			{{ end }}
			{{ end }}
		</ul>
	</main>
	{{ template "_footer.html" }}
</body>

</html>