<!DOCTYPE html>
<html lang="es-ES">

<head>
	{{- template "_head.html" . }}

	<meta property="og:title" content="{{ .Meta.Titulo }}">
	<meta property="og:type" content="article">
	<meta property="og:site_name" content="Vigo360">
	<meta property="og:image" content="{{ .Meta.Miniatura }}">
	<meta property="og:url" content="{{ .Meta.Canonica }}">
	<meta property="og:locale" content="es_ES">
	<meta property="og:description" content="{{ .Meta.Descripcion }}">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@vigo360">
	<meta name="twitter:creator" content="@vigo360">
	<meta name="twitter:title" content="{{ .Meta.Titulo }}">
	<meta name="twitter:description" content="{{ .Meta.Descripcion }}">
	<meta name="twitter:image" content="{{ .Meta.Miniatura }}">
	<meta name="twitter:image:alt" content="{{ .Trabajo.Alt_portada }}">

	<script type="application/ld+json">
		[{
			"@context": "https://schema.org",
			"@type": "Article",
			"wordCount": {{ wordCount .Trabajo.Contenido }},
			"author": {
				"@type": "Person",
				"name": "{{ .Trabajo.Autor.Nombre }}",
				"url": "{{ template.URL(.Meta.BaseUrl) }}/autores/{{ .Trabajo.Autor.Id }}",
				"jobTitle": "{{ .Trabajo.Autor.Rol }}",
				"description": "{{ .Trabajo.Autor.Biografia }}"
			},
			"creator": {
				"@type": "Person",
				"name": "{{ .Trabajo.Autor.Nombre }}",
				"url": "{{ .Meta.BaseUrl }}/autores/{{ .Trabajo.Autor.Id }}",
				"jobTitle": "{{ .Trabajo.Autor.Rol }}",
				"description": "{{ .Trabajo.Autor.Biografia }}"
			},
			"publisher": {
				"@type": "Organization",
				"name": "Vigo360",
				"url": "https://vigo360.es",
				"email": "contacto@vigo360.es",
				"logo": {
					"@type": "ImageObject",
					"url": "https://vigo360.es/static/logo.webp",
					"width": 400,
					"height": 400
				}
			},
			"dateModified": "{{ date3339 .Trabajo.Fecha_actualizacion }}",
			"datePublished": "{{ date3339 .Trabajo.Fecha_publicacion }}",
			"headline": "{{ .Trabajo.Titulo }}",
			"image": {
				"@type": "ImageObject",
				"caption": "{{ .Trabajo.Alt_portada }}",
				"license": "https://creativecommons.org/licenses/by-sa/4.0/",
				"acquireLicensePage": "{{ .Meta.BaseUrl }}/legal",
				"url": "{{ .Meta.BaseUrl }}/static/images/{{ .Trabajo.Id}}.webp",
				"contentUrl": "{{ .Meta.BaseUrl }}/static/images/{{ .Trabajo.Id}}.webp"
			},
			"license": "https://creativecommons.org/licenses/by-sa/4.0/",
			"inLanguage": "es-ES"
		},
		{
			"@context": "https://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
				{
					"@type": "ListItem",
					"position": 1,
					"item": {
						"@id": "{{ .Meta.BaseUrl }}/trabajos",
						"name": "Trabajos"
					}
				},
				{
					"@type": "ListItem",
					"position": 2,
					"item": {
						"@id": "{{ .Meta.BaseUrl }}/trabajos/{{ .Trabajo.Id }}",
						"name": "{{ .Trabajo.Titulo }}"
					}
				}
			]
		}]

	</script>
</head>

<body>
	{{ template "_header.html" }}
	<main id="post-main">
		<article>
			<section>
				<figure id="post-thumbnail">
					<img width="1024" height="576" src="/static/images/{{ .Trabajo.Id}}.webp"
						alt="{{ .Trabajo.Alt_portada }}">
					<figcaption>{{ .Trabajo.Alt_portada }}</figcaption>
				</figure>
				<h2 id="post-title">{{ .Trabajo.Titulo }}</h2>
				<p id="post-info">
					<a class="link" href="/autores/{{ .Trabajo.Autor.Id }}">{{ .Trabajo.Autor.Nombre }}</a>
					{{ dateDayMonth .Trabajo.Fecha_publicacion }} {{ if ne (dateDayMonth .Trabajo.Fecha_actualizacion)
					(dateDayMonth .Trabajo.Fecha_publicacion) }}(actualizado {{ dateDayMonth
					.Trabajo.Fecha_actualizacion
					}}){{end}}
				</p>
				<div id="post-inner">
					{{ .Trabajo.Contenido | markdown }}
					{{ if ne (len .Adjuntos) 0 }}
					<h2 id="descargas-title">Descargas</h2>
					<ul id="descargas-list">
						{{ range .Adjuntos }}
						<li><a href="/static/papers/{{ .Nombre_archivo }}">{{ .Titulo }}</a></li>
						{{ end }}
					</ul>
					{{ end }}
				</div>
			</section>

			<section id="post-author-container">
				<a href="/autores/{{ .Trabajo.Autor.Id }}">
					<div id="post-author-card">
						<img width="180" height="180" class="post-author-photo"
							src="/static/profile/{{ .Trabajo.Autor.Id }}.jpg"
							alt="Fotografía de perfil de {{ .Trabajo.Autor.Nombre }}" loading="lazy">
						<div class="post-author-info">
							<h3>{{ .Trabajo.Autor.Nombre }}</h3>
							<span>{{ .Trabajo.Autor.Rol}}</span>
							<p>{{ .Trabajo.Autor.Biografia }}</p>
						</div>
					</div>
				</a>
			</section>

		</article>
	</main>
	{{ template "_footer.html" }}
</body>

</html>