<!DOCTYPE html>
<html lang="es-ES">

<head>
	{{- template "_head.html" . }}
</head>

<body>
	{{ template "_header.html" }}
	<main>
		<div id="post-main">
			<h2 id="post-title">Página no encontrada</h2>
			<article id="post-inner">
				<p>
					Lamentablemente, la página a la que has intentado acceder no
					ha sido encontrada en este servidor. Si crees que se trata
					de un error, por favor contacta con el equipo Vigo360 en
					<a href="mailto:contacto@vigo360.es">contacto@vigo360.es</a>
				</p>


				<p><a href="javascript: history.go(-1)">Volver atrás</a> - <a href="/">Ir a la página de inicio</a></p>
			</article>
		</div>
	</main>
	{{ template "_footer.html" }}
</body>

</html>