<!DOCTYPE html>
<html lang="es-ES">
	<head>
		{{- template "_head.html" . }}
	</head>
	<body>
		{{ template "_header.html" }}
		<main id="authors">
			<div id="user-info">
				<div>
					<h1 id="section-title">{{ .Autor.Nombre }}</h1>
					<span id="user-role">{{ .Autor.Rol}}
						{{ if .Autor.Web_url}} &mdash;
						<a href="{{.Autor.Web_url}}">
							{{ with .Autor.Web_titulo }}
								{{ . }}
							{{ else }}
								{{ .Autor.Web_url }}
							{{end}}
						</a>
						{{end}}

						{{ with .Autor.Email }} &mdash;
						<a href="mailto:{{.}}">{{ . }}</a>
						{{ end}}
					</span>
					<p>
						{{ .Autor.Biografia }}
					</p>
				</div>
				<img class="profile_pic" src="/static/profile/{{ .Autor.Id }}.jpg" alt="Foto de {{ .Autor.Nombre}}"/>
			</div>

			{{ if ne (len .Posts) 0 }}
			<h2 class="user-section-title">Artículos publicados</h2>
			<section class="user-list">
				{{ range .Posts }}
				<div class="user-article">
					<a href="/post/{{ .Id }}">
						<div>
							<img class="user-article-thumbnail" src="/static/images/{{ .Id }}.webp" alt="{{ .Alt_portada }}" title="{{ .Alt_portada }}" loading="lazy"  />
							<div>
								<h3 class="user-article-title">{{ .Titulo }}</h3>
								<p class="user-article-summary">{{ .Resumen }}</p>
							</div>
						</div>
					</a>
				</div>
				{{ end }}
			</section>
			{{ else }}
			<h2 class="user-section-title">No hay ningún artículo publicado</h2>
			{{ end }}
		</main>
		{{ template "_footer.html" }}
	</body>
</html>