<!DOCTYPE html>
<html lang="es-ES">

<head>
	{{- template "_head.html" . }}
</head>

<body>
	{{ template "_header.html" }}
	<main>
		<div id="post-main">
			<h2 id="post-title">Síguenos</h2>
			<article id="post-inner">
				<p>
					Te recomendamos suscribirse a través de sindicación Atom, con
					lo que cada vez que publiquemos un artículo nuevo lo
					verás en tu agregador de noticias. Para seguirnos, basta con añadir la siguiente URL a tu gestor de
					feeds (Feedly, Thunderbird, Feedbro...).
				</p>
				<p><a href="https://vigo360.es/atom.xml">https://vigo360.es/atom.xml</a></p>
				<h2 id="redes-sociales">Redes sociales</h2>
				<p>Alternativamente, estamos en algunas redes sociales.</p>
				<ul>
					<li>
						<p>
							Facebook:
							<a
								href="https://www.facebook.com/Vigo360-114211757834000">https://www.facebook.com/Vigo360-114211757834000</a>
						</p>
					</li>
					<li>
						<p>
							Twitter:
							<a href="https://twitter.com/vigo360">https://twitter.com/vigo360</a>
						</p>
					</li>
					<li>
						<p>
							Instagram:
							<a href="https://instagram.com/vig0360">https://instagram.com/vig0360</a>
						</p>
					</li>
				</ul>
			</article>
		</div>
	</main>
	{{ template "_footer.html" }}
</body>

</html>