<!DOCTYPE html>
<html lang="es-ES">

<head>
	{{- template "_head.html" . }}
	<link rel="alternate" href="/tags/{{.Tag.Id}}/atom.xml" type="application/atom+xml" />
</head>

<body>
	{{ template "_header.html" }}
	<main id="sections">
		<div class="title-atom">
			<h2>{{ .Tag.Nombre }}</h2>
			<a href="/tags/{{ .Tag.Id }}/atom.xml" title="Suscripción via Atom">
				<img src="/includes/rss-icon.svg" />
			</a>
		</div>
		<ul id="section-articles">
			{{ if eq (len .Posts) 0 }}
			<span>No hay ninguna publicación</span>
			{{ else }}
			{{ range $i, $post := .Posts }}
			<li>
				<a href="/post/{{ $post.Id }}">
					<img width="370" height="270" src="/static/images/{{ $post.Id }}.webp" alt="{{ $post.Alt_portada }}"
						title="{{ $post.Titulo }}" {{ if gt $i 3 }} loading="lazy" {{ end }} />
					<div>
						<span class="article-author">
							{{ .Autor_nombre }} /
							{{ .Fecha_publicacion }}
						</span>
						<h3 class="article-title">{{ .Titulo }}</h3>
					</div>
				</a>
			</li>
			{{ end }}
			{{ end }}
		</ul>
	</main>
	{{ template "_footer.html" }}
</body>

</html>