<!DOCTYPE html>
<html lang="es-ES">
	<head>
		{{- template "_head.html" . }}

		<link rel="alternate" href="/trabajos/atom.xml" type="application/atom+xml" title="Atom">
	</head>
	<body>
		{{ template "_header.html" }}
		<main id="papers">
			<h1>Trabajos originales Vigo360</h1>
			<div id="papers-list">
			{{ range .Trabajos }}
				<article>
					<a href="/trabajos/{{.Id}}">
						<img src="/static/images/{{ .Id }}.webp" alt="{{ .Alt_portada }}" title="{{ .Titulo }}" />
						<div>
							<p class="article-author">{{ .Autor_nombre }}</p>
							<h3 class="article-title">{{ .Titulo }}</h3>
						</div>
					</a>
				</article>
			{{ end }}
			</div>
		</main>
		{{ template "_footer.html" }}
	</body>
</html>