<!DOCTYPE html>
<html lang="es-ES">
	<head>
		{{- template "_head.html" . }}

		<meta property="og:title" content="{{ .Meta.Titulo }}" />
		<meta property="og:type" content="article" />
		<meta property="og:site_name" content="Vigo360" />
		<meta property="og:image" content="{{ .Meta.Miniatura }}" />
		<meta property="og:url" content="{{ .Meta.Canonica }}" />
		<meta property="og:locale" content="es_ES">
		<meta property="og:description" content="{{ .Meta.Descripcion }}" />
	</head>
	<body>
		{{ template "_header.html" }}
		<main>
			<div id="post-main">
				<figure id="post-thumbnail">
					<img src="/static/images/{{ .Trabajo.Id}}.webp" alt="{{ .Trabajo.Alt_portada }}">
					<figcaption>{{ .Trabajo.Alt_portada }}</figcaption>
				</figure>
				
				<h2 id="post-title">{{ .Trabajo.Titulo }}</h2>
				
				<div id="post-info">
					<a href="/autores/{{ .Trabajo.Autor_id }}">{{ .Trabajo.Autor_nombre }}</a>
					<span>/ {{ .Trabajo.Fecha_actualizacion }}</span>
				</div>
				
				<article id="post-inner">
					{{ .Trabajo.Contenido }}
					{{ if ne (len .Adjuntos) 0 }}
					<h2>Descargas</h2>
					<ul>
						{{ range .Adjuntos }}
							<li><a href="/static/papers/{{ .Nombre_archivo }}">{{ .Titulo }}</a></li>
						{{ end }}
					</ul>
					{{ end }}
				</article>
				
				<div id="post-author-container">
					<a href="/autores/{{ .Trabajo.Autor_id }}">
						<div id="post-author-card">
							<img class="post-author-photo" src="/static/profile/{{ .Trabajo.Autor_id }}.jpg" alt="Fotografía de perfil de {{ .Trabajo.Autor_nombre }}"/>
							<div class="post-author-info">
								<h3>{{ .Trabajo.Autor_nombre }}</h3>
								<span>{{ .Trabajo.Autor_rol}}</span>
								<p>{{ .Trabajo.Autor_biografia }}</p>
							</div>
						</div>
					</a>
				</div>

			</div>
		</main>
		{{ template "_footer.html" }}
	</body>
</html>