/* noto-sans-mono-semibold */
@font-face {
	font-family: Noto Sans Mono;
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans Mono SemiBold"), local("NotoSansMono-SemiBold"), url(noto-sans-mono-semibold.woff2) format("woff2");
}
/* noto-sans-mono-regular */
@font-face {
	font-family: Noto Sans Mono;
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans Mono Regular"), local("NotoSansMono-Regular"), url(noto-sans-mono-regular.woff2) format("woff2");
}
/* noto-sans-mono-medium */
@font-face {
	font-family: Noto Sans Mono;
	font-style: normal;
	font-weight: 500;
	src: local("Noto Sans Mono Medium"), local("NotoSansMono-Medium"), url(noto-sans-mono-medium.woff2) format("woff2");
}

