/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */
@use "admin/editor-imagenes.scss";
@use "admin/editor-perfil.scss";
@use "admin/moderar-comentarios.scss";

body {
	display: flex;
	flex-direction: column;
}

main {
	border-radius: 4px;
	box-shadow: var(--shadow);
	background-color: #fff;
	max-width: 1280px;
	margin: 2rem auto auto;
	padding: 2rem 3rem;
}


input[type="file"] {
	border: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

input[disabled] {
	cursor: not-allowed;
}

textarea {
	font-size: 14px;
}

.dialog-error {
	margin-bottom: 1rem;
	color: var(--incorrect);
	font-weight: bold;
	margin-left: 1rem;
}

#post-list,
#dashboard,
#series-list {
	width: 100%;
}

#login-background {
	background-image: url('/static/login-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	width: 100%;
    height: 100vh;
}

#login-background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
}

#login-background ~ main {
	z-index: 2;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 20vh;
}

#login {
	max-width: 640px;
	margin: 1rem auto;
	font-size: 1.1rem;
}

#login > h2,
input,
form select,
form textarea,
form p,
form button[type="submit"] {
	margin-bottom: 1rem;
}

#login form {
	display: flex;
	flex-direction: column;
}

form button[type="submit"] {
	margin-top: 0.5rem;
}

#dashboard > div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3rem;
}

#dashboard > p {
	margin-bottom: 1.5rem;
	font-size: 1.1rem;
}

main h2 {
	font-size: 2em;
}

#dashboard > div section ul li {
	margin-left: 1rem;
}

#post-listing {
	flex: 5;
	padding-right: 2rem;
	min-width: 250px;
	font-size: 1.1rem;
	line-height: 1.40;
}

#post-listing > article {
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: var(--shadow);
    border-radius: 4px;
}


#post-list {
    background-color: inherit;
    box-shadow: unset;
	padding: 0;
}

#post-list > section {
	margin-top: 1rem;
	display: flex;
	gap: 2rem;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

#post-list form,
#series-list form {
	display: flex;
	flex-direction: column;
	flex: 2;
}

.list-post > p {
	display:flex;
	align-items: center;
	flex-wrap: wrap;
}

.list-post > p > span {
	margin-right: 1rem;
	margin-left: 0.3rem;
	display: flex;
	align-items: center;
}

// .list-post > p > img {
// 	break-after: avoid;
// }

.list-post > a {
	font-size: 1.2em;
	font-weight: bold;
}

.list-post > a.unpublished {
	color: var(--incorrect);
}

#post-editor {
	width: 100%;

	hr {
		margin: 1.5rem 0;
	}

	.submit-buttons {
		display: flex;
		align-items: center;
		justify-content: end;
		gap: 1rem;
	}
}

#post-editor .form-column,
#series-list > div {
	display: grid;
	grid-template-columns: 9fr 4fr;
	gap: 2rem;
}

#post-editor .form-row {
	display: flex;
	flex-direction: column;
}

#post-editor textarea {
	width: 100%;
	flex-grow: 1;
	resize: none;
}

#post-editor img {
	height: auto;
}

#series-list > p {
	margin-bottom: 1.5rem;
}



@media (max-width: 640px) {
	main {
		padding: 1rem 1.5rem;
		max-width: 90%;
	}

	#dashboard > div {
		gap: 1rem;
		grid-template-columns: 1fr;
	}

	#post-editor .form-column,
	#series-list > div {
		grid-template-columns: 1fr;
	}

	.form-column,
	.form-row {
		max-width: 100%;
	}

	#post-editor img {
		width: 100%;
	}
}
