@use "global/_all.scss";

:root {
	--fondo: $fondo;
	--gray: $gray;
	--text: $text;

	--theme-dark: $primary-dark;
	--theme-main: $primary-main;
	--theme-light: $primary-light;

	--warning-dark: $warning-dark;
	--warning: $warning;
	--warning-light: $warning-light;

	--incorrect-dark: $incorrect-dark;
	--incorrect-main: $incorrect-main;
	--incorrect-light: $incorrect-light;

	--shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.1), 0 8px 16px -8px rgba(0, 0, 0, 0.2);
	--outline: 1px solid var(--gray);
	--outline-primary: 2px solid $primary-main;

	--sans-fonts: $sans-fonts;
	--mono-fonts: $mono-fonts;

	font-family: var(--sans-fonts);
	font-weight: 400;
	font-size: 16px;

	scroll-behavior: smooth;
	line-height: 1.6;
}

::selection {
	background-color: $primary-main;
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	text-decoration: none;
	color: $primary-dark;
	transition: color 300ms, opacity 300ms, background-color 300ms;
}

a:hover, a:focus {
	color: $primary-main;
}

p {
	font-family: var(--sans-fonts);
}

#header-brand {
    padding-top: 0;
    padding-bottom: 0;
}

#header-brand > * {
	font-size: 24px;
    color: var(--text);
    display: inline;
    vertical-align: middle;
    text-transform: uppercase;
	user-select: none;
}

header nav {
	display: flex;
	align-items: center;
	gap: 2rem;
}

header nav a {
	font-size: 16px;
	font-weight: bold;

	text-transform: uppercase;

	border-bottom: 2px solid transparent;
	transform: translateY(2px);

	transition: border-bottom 300ms, transform 300ms;
}

header nav a:hover {
	transform: unset;
	border-bottom: 2px solid var(--theme-dark);
}

form hr {
	margin: 1rem 0;
}

button,
input,
textarea,
select {
	border: 1px solid black;
	border-radius: 4px;
	padding: 0.5rem 1rem;
}

.preview-marca-agua {
    position: fixed;
    left: 50%;
	transform: translateX(-50%);
	top: 15%;
	font-size: 1.2rem;
	font-weight: 900;

	background-color: var(--warning);
	border: 1px solid var(--warning-dark);

	padding: 0.8rem;
}

button {
	font-weight: bold;
	width: auto;
}

button,
input,
select {
	font-size: 1.1rem;
}

button.btn-theme {
	background-color: var(--theme-main);
	border-color: var(--theme-dark);
	color: white;
}

button.btn-outline-theme {
	border: 1px solid var(--theme-main);
	background: white;
	color: var(--theme-main);
}

button.btn-empty-theme {
	border: none;
	color: var(--theme-main);
	background: #ffffff00;
}

button.btn-error {
	background-color: var(--incorrect-main);
	border-color: darkred;
	color: white;
}

button.btn-large {
	width: 100%;
}

@media (max-width: 960px) {
	header {
		flex-direction: column;
		gap: 1.5rem;
	}	
}
