:root {
	--fondo: hsl(210deg, 40%, 98%);
	--gray: hsl(0, 0%, 80%);
	--text: hsl(0, 0%, 5%);

	--theme-dark: hsl(134deg, 40%, 35%);
	--theme-main: hsl(134deg, 40%, 45%);
	--theme-light: hsl(134deg, 40%, 55%);

	--warning-dark: hsla(60, 100%, 70%);
	--warning: hsla(60, 100%, 70%);

	--incorrect-dark: hsl(356deg, 86%, 38%);
	--incorrect-main: hsl(356deg, 86%, 48%);
	--incorrect-light: hsl(356deg, 86%, 58%);

	--shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.1), 0 8px 16px -8px rgba(0, 0, 0, 0.2);
	--outline: 1px solid var(--gray);
	--outline-primary: 2px solid var(--theme-main);

	--sans-fonts: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--mono-fonts: "Noto Sans Mono", monospace;

	font-family: var(--sans-fonts);
	font-kerning: normal;
	font-weight: 400;
	font-size: 16px;

	scroll-behavior: smooth;
	line-height: 1.6;
}

::selection {
	background: var(--theme-main);
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color: var(--fondo);

	--sides-pad: 10%;
}

a {
	text-decoration: none;
	color: var(--theme-main);
	transition: color 300ms, opacity 300ms, background-color 300ms;
}

p {
	font-family: var(--sans-fonts);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	letter-spacing: 1px;

	background: #fff;
	border-top: 5px solid var(--theme-main);

	padding: 0.5rem var(--sides-pad);
}

#header-brand {
    padding-top: 0;
    padding-bottom: 0;
}

#header-brand > * {
	font-size: 24px;
    color: var(--text);
    display: inline;
    vertical-align: middle;
    text-transform: uppercase;
	user-select: none;
}

header nav {
	display: flex;
	align-items: center;
	gap: 2rem;
}

header nav a {
	font-size: 16px;
	font-weight: bold;

	text-transform: uppercase;

	border-bottom: 2px solid transparent;
	transform: translateY(2px);

	transition: border-bottom 300ms, transform 300ms;
}

header nav a:hover {
	transform: unset;
	border-bottom: 2px solid var(--primario-dark);
}

footer {
	color: var(--text);
	font-size: 1.05rem;

	display: flex;
	justify-content: space-between;

	padding: 1.5rem;

	width: 1280px;
	margin: 0 auto;
}

footer div :not(:last-child) {
	margin-right: 1rem;
}

form hr {
	margin: 1rem 0;
}

button,
input,
textarea,
select {
	border: 1px solid black;
	border-radius: 4px;
	padding: 0.5rem 1rem;
}

.preview-marca-agua {
    position: fixed;
    left: 50%;
	transform: translateX(-50%);
	top: 15%;
	font-size: 1.2rem;
	font-weight: 900;

	background-color: var(--warning);
	border: 1px solid var(--warning-dark);

	padding: 0.8rem;
}

button {
	font-weight: bold;
	width: auto;
}

button,
input,
select {
	font-size: 1.1rem;
}

button.btn-theme {
	background-color: var(--theme-main);
	border-color: var(--theme-dark);
	color: white;
}

button.btn-outline-theme {
	border: 1px solid var(--theme-main);
	background: white;
	color: var(--theme-main);
}

button.btn-empty-theme {
	border: none;
	color: var(--theme-main);
	background: #ffffff00;
}

button.btn-error {
	background-color: var(--incorrect-main);
	border-color: darkred;
	color: white;
}

button.btn-large {
	width: 100%;
}

@media (max-width: 1280px) {
	body {
		--sides-pad: 2rem;
	}
	
	header .form-inline input {
		max-width: 20ch;
	}	
}

@media (max-width: 960px) {
	header {
		flex-direction: column;
		gap: 1.5rem;
	}	
}
