@media print {
	:root {
		font-family: Georgia, 'Times New Roman', Times, serif;
	}

	header {
		display: none;
	}

	a, #post-inner p a {
		text-decoration: none;
		color: inherit;
	}

	#post-main {
		max-width: 100%;
		margin: 0;
		box-shadow: none;
	}

	#post-inner {
		max-width: 150ch;
	}

	main {
		padding: 1rem 0;
	}

	#post-inner img {
		width: 60%;
		text-align: center;
	}

	#post-author-container {
		display:none;
	}
}