@media (max-width: 960px) {
	main {
		width: 95vw;
		margin: auto;
		padding: 0.25rem;
		padding-top: 1.5rem;
	}

	#user-info {
		gap: 1rem;
	}

	#user-info > div {
		flex-basis: 70%;
	}

	.authors-name,
	.authors-role {
		line-height: 1.15;
	}

	#authors-grid > a > div p {
		margin-top: 0.25rem;
	}
	
	.article-title {
		font-size: 1.1rem;
	}

	#section-articles {
		grid-template-columns: repeat(2, 1fr);
	}

	#frontpage-articles .primero {
		flex-direction: column;
	}
}
