@use "public/_pager.scss";
@use "public/_comentarios.scss";
@use "public/_busqueda.scss";
@use "public/_frontpage.scss";
@use "public/_table.scss";

#section-title {
	font-size: 2.25rem;
	font-weight: bolder;
	line-height: 1.125;
	max-width: 1024px;
}

a img {
	transition: opacity 300ms;
}

a p,
a h3,
a h4,
a span {
	transition: color 300ms;
}

main {
	padding: 3rem 2rem;
	flex: 1;
}

ul,
ol {
	padding-left: 2rem;
}

blockquote {
	opacity: 0.8;
	padding: 1rem;
	position: relative;
	quotes: "â€œ" "â€" "â€˜" "â€™";
	margin: 0.75rem 0;
	gap: 0.75rem;
	display: flex;
	flex-flow: row wrap;
	background-repeat: no-repeat;
	background-size: 5rem;
	background-position: 50% 50%;
}

blockquote::before {
	content: "";
	padding: 1px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background: var(--primary-main);
}

blockquote p {
	padding-left: 0.5rem;
	font-size: 1.1rem;
	width: 100%;
	font-weight: 300;
	font-style: italic;
}

hr {
	border: none;
	padding: 0.5px;
	background: var(--text);
	opacity: 0.09;
	margin: 2rem 0 0.75rem;
}

figure {
	background: var(--gray-light);
	overflow: hidden;
	border-radius: 3px;
	padding-bottom: 4px;
}

figure:not(#post-thumbnail) {
	margin-bottom: 1rem;
}

figure img {
	width: 100%;
	height: auto;
}

figcaption {
	margin-left: 0.5rem;
}

main#tags-list>div,
main#authors>div {
	max-width: 1024px;
	margin: 0 auto 2rem;

	padding: 1rem 2rem;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: var(--shadow);
	background: #fff;
}

main#authors #section-title,
#tags-list #section-title {
	padding: 1rem 2rem 0 2rem;
}

#authors-grid {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2.5rem;
}

#authors-grid div {
	padding: 0.75rem;
}

#authors-grid a {
	color: var(--text);
	text-decoration: none;

	&:hover .authors-name {
		color: var(--primary-main);
	}
}

#authors-grid a:hover img {
	opacity: 0.7;
}

#authors-grid img {
	width: 80%;
	margin: 0 10%;
	border-radius: 30%;
	margin-bottom: 0.5rem;
	height: auto;
}

.authors-name {
	font-size: 1.5rem;
	font-weight: 500;
}

.authors-role {
	opacity: 0.7;
	font-size: 1.125rem;
}

/*
  SINGLE
*/
#user-info,
.user-section-title,
.user-list {
	padding: 0 1rem;
}

#user-info {
	display: flex;
	gap: 2rem;
	padding: 1rem;
}

main#authors #user-info #section-title {
	font-size: 3rem;
	padding: 0;
}

#user-info>div {
	flex: 0 0 75%;
}

#user-info>div h1 {
	margin-bottom: 0.5rem;
}

#user-role {
	opacity: 0.85;
}

#user-info>div p {
	margin-top: 0.5rem;
	font-size: 1.125rem;
}

#user-info img {
	width: 200px;
	border-radius: 23%;
}

.user-section-title {
	font-size: 1.75rem;
}

.user-article {
	padding: 1rem 1.5rem;
}

.user-article>a {
	color: var(--text);
}

.user-article>a:hover {
	text-decoration: none;
}

.user-article>a:hover .user-article-title {
	color: var(--primary-main);
}

.user-article>a>div {
	display: flex;
	gap: 1rem;
}

.user-article>a>div>div {
	padding: 1rem;
	padding-left: 0;
}

.user-article picture {
	width: 25%;
	height: auto;
	object-fit: cover;
	flex: 0 0 25%;
	border-radius: 5px;
}

.user-article-title {
	font-size: 1.375rem;
	font-weight: 500;
}

.user-article-summary {
	opacity: 0.8;
}

#papers {
	max-width: 1280px;
	margin: auto;
}

#papers>* {
	background: var(--background);
}

#papers>h1 {
	font-size: 2.25rem;
	font-weight: bolder;
	line-height: 1.125;
	max-width: unset;
	margin: auto;
	padding: 0 2rem 1rem 2rem;
}

#papers-list {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
	padding: 1.5rem 0;
}

#papers-list>article {
	height: 100%;

	&>a {
		color: var(--text);
		background: #fff;

		display: flex;
		flex-direction: column;

		height: 100%;

		&>div {
			padding: 1rem;
			flex-grow: 1;
			flex-shrink: 0;
		}
	}
}

#papers-list>article>a:hover {
	text-decoration: none;
}

#papers-list>article>a:hover img {
	opacity: 0.7;
}

#papers-list>article>a:hover .article-title {
	color: var(--primary-main);
}

#papers-list img {
	width: 100%;
	height: auto;
}

main#post-main {
	background-color: white;
	max-width: 1024px;
	margin: 3rem auto;
	box-shadow: var(--shadow);
	padding: 0;
}

#post-title {
	font-size: 3rem;
	font-weight: bolder;
	line-height: 1.125;
	padding: 1rem 7% 0.5rem;
}

#post-info {
	font-family: var(--mono-fonts);
	padding: 0 7%;
	text-transform: uppercase;
	font-weight: 700;
}

#post-inner {
	padding: 1rem 4%;
	max-width: 90ch;
	margin: 1rem auto;
	text-align: justify;
	hyphens: auto;

	font-weight: 500;

	h2 {
		font-size: 2.25rem;
		line-height: 1;
		margin-bottom: 1rem;
	}

	h3 {
		font-size: 1.75rem;
		line-height: 1;
		margin-bottom: 1rem;
	}

	p img {
		width: 100%;
		object-fit: cover;
	}

	p a {
		text-decoration: underline;
	}

	p a:hover {
		color: green;
	}
}

#post-inner>p,
#post-inner>ul li,
#post-inner>ol li {
	margin-bottom: 1rem;
	font-size: 19px;
	line-height: 1.8;
}

#post-inner blockquote p {
	font-size: 1.1rem;
}

#post-author-card {
	display: flex;
	gap: 1rem;
}

.post-author-photo {
	border-radius: 2rem;
	flex: 1 1;
	width: 150px;
	height: 150px;
}

#post-share {
	padding: 0 3%;
	max-width: 85ch;
	margin: 1rem auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

#post-share-tags {
	display: flex;
	gap: 0.5rem;
}

#post-share-tags a {
	background: var(--primary-main);
	color: white;

	font-weight: bold;
	font-size: 0.9em;

	padding: 0.25rem 0.75rem;
	border-radius: 4px;

	img {
		display: block;
	}
}

#post-share-social {
	display: flex;
	gap: 0.5rem;
}

#post-share-social a {
	padding: 0.5rem
}

#post-share-social a svg {
	width: 1.5rem;
	height: 1.5rem;
}

#post-share-social .social-icon-facebook {
	background-color: #3b5998;
}

#post-share-social .social-icon-x {
	background-color: #222222;
}

#post-share-social .social-icon-whatsapp {
	background-color: #25d366;
}

#post-author-container {
	padding: 0 7% 2rem;
	max-width: 85ch;
	margin: auto;
}

#post-author-container a:hover {
	text-decoration: none;
}

#post-author-container>a:hover .post-author-info h3 {
	color: var(--primary-main);
}

.post-author-info {
	padding-left: 1rem;
	color: var(--text);
	justify-content: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.post-author-info h3 {
	font-size: 1.5rem;
	font-weight: 500;
}

.post-author-info span {
	opacity: 0.7;
	font-size: 1.125rem;
}

code {
	font-size: 1rem;
	color: var(--primary-main);
	background: var(--gray);
}

#post-related-articles,
#related-articles-header {
	padding: 0 5% 1rem;
}

#post-related-articles {
	display: flex;
	gap: 2rem;
}

.post-related-article a {
	color: var(--text);
	display: flex;
	flex-direction: column;
	height: 100%;

	&:hover {
		text-decoration: none;

		.article-title {
			color: var(--primary-main);
		}
	}
}

.related-article-summary {
	-webkit-line-clamp: 3;
}

.post-related-article a:hover img {
	opacity: 0.8;
}

.post-related-article {
	flex: 1 0;
}

.post-related-article img {
	width: 100%;
	height: auto;
}

.post-inline-related {
	color: var(--text);
	text-decoration: none;
}

.post-inline-related:hover {
	color: var(--primary-main);
	text-decoration: none;
}

.post-inline-related:hover img {
	opacity: 0.7;
}

.post-inline-related>div {
	width: 100%;
	display: flex;
	background: var(--gray);
	margin: 0.5rem 0 1rem;

	border-radius: 4px;
	overflow: hidden;
}

.post-inline-related div img {
	flex-basis: 45%;
	width: 100%;
	object-fit: cover;
}

.post-inline-related div div {
	padding: 0.5rem 1rem;
}

.post-inline-related div h4 {
	font-size: 1.6rem;
}

#sections {
	max-width: 1280px;
	padding: 2rem;
	width: 100%;
	margin: auto;
}

#sections>#section-title {
	max-width: 100%;
}

#sections>* {
	background: var(--background);
}

#section-articles {
	padding-left: 0;
	list-style-type: none;
	padding: 1rem 0;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
}

#section-articles>li {
	background: #fff;
}

#section-articles>li a {
	color: var(--text);
}

#section-articles>li a:hover {
	text-decoration: none;
}

#section-articles>li a:hover img {
	opacity: 0.7;
}

#section-articles>li a:hover h3 {
	color: var(--primary-main);
}

#section-articles>li div {
	padding: 1rem;
}

#section-articles>li img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.title-atom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.title-atom>a {
	line-height: 1;
}

#tags-list>ul {
	width: 100%;
}
