<!DOCTYPE html>
<html lang="es-ES">

<head>
	<title>Error del Servidor - Vigo360</title>
	{{- template "_head.html" }}
</head>

<body>
	{{ template "_header.html" }}
	<main>
		<div id="post-main">
			<h2 id="post-title">Error del Servidor</h2>
			<article id="post-inner">
				<p>
					Lamentablemente, ha habido un problema al cargar esta página. Espere un rato y vuelva a intentarlo,
					y si el problema persistiera, contacte con el equipo Vigo360 en
					<a href="mailto:contacto@vigo360.es">contacto@vigo360.es</a>
				</p>


				<p><a href="javascript: history.go(-1)">Volver atrás</a> - <a href="/">Ir a la página de inicio</a></p>
			</article>
		</div>
	</main>
	{{ template "_footer.html" }}
</body>

</html>